extends layout

block content
    br
    br
    br
    h1 Title: #{game.title}
    h2 Genre: #{game.genre}
    h2 Rating: #{game.rating}
    h2 Comment: #{game.comment}
    h2 Platform: #{game.platform}