extends layout

block content
    br
    br
    br
    h1 Title: #{game.title}
    h4 Genre: #{game.genre}
    h4 Rating: #{game.rating}
    h4 Comment: #{game.comment}
    h4 Platform: #{game.platform}

    hr
    a.btn.btn-default(href='/games/edit/' + game._id) Edit Game
    a.btn.btn-danger.delete-game(href='#', data-id=game._id) Delete Game